Erro ao entrar com GitHub

<ul>
  <li>Registre o seu email em sua conta GitHub antes de solicitar a entrada</li>
  <li>
    <p>Certifique-se que o email está pública em sua conta do GitHub</p>

    <p>Por favor, visite: https://github.com/settings/profile para definir o seu endereço de e-mail público. Certifique-se de que o campo email esteja público, confome a seguir: </p></li>
  <a href="https://github.com/alsotang" target="_blank"><img src="http://alsotang.u.qiniudn.com/QQ20140807-1.png"></a>
</ul>


