<div class='col_fade'>
  <p>© 2010-2015 ArenaNet, Inc. Todos os direitos reservados. NCsoft, o logotipo de bloqueio NC, ArenaNet, Arena.net, Guild Wars, Guild Wars Factions, Factions, Guild Wars Nightfall, Nightfall, Guild Wars: Eye of the North, Guild Wars Eye of the North, Eye of the North, Guild Wars 2, Guild Wars 2 Heart of Thorns, Heart of Thorns e todos os logotipos e designs associados são marcas comerciais ou marcas registradas da NCsoft Corporation. Todas as outras marcas comerciais pertencem aos seus respectivos proprietários.</p>
  <p>© 2011-2015 Guild Wars 2 Brasil. Todos os direitos reservados sobre o conteúdo próprio publicado, traduções e outros conteúdos reproduzidos pertencem a seus respectivos donos.</p>
</div>
