<div id='sidebar'>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Linguagem de marcação</span>
    </div>
    <div class='inner'>
      <ol>
        <li><tt>### Título</tt></li>
        <li><tt>**negrito**</tt></li>
        <li><tt>`console.log('código embutido')`</tt></li>
        <li><tt>```js\n code \n```</tt> Blocos de código</li>
        <li><tt>[Título do link](url)</tt></li>
        <li><tt>![Título da imagem](url da imagem)</tt></li>
      </ol>
      <span><a class="dark" href='http://www.ituring.com.cn/article/775' target='_blank'>Linguagem de marcação</a></span>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Como escrever um bom tópico</span>
    </div>
    <div class='inner'>
      <ol>
        <li>Escreva um título relacionado ao conteúdo do post</li>
        <li>Não use CAIXA-ALTA no título e nem em excesso no conteúdo do tópico (o seu tópico pode ser moderado)</li>
        <li>Respeite os outros usuários e mantenha um ambiente harmônico na comunidade</li>
      </ol>
    </div>
  </div>

</div>
