<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>Home</a><span class='divider'>/</span></li>
        <li class='active'>Posts de <a href="/user/<%=user.loginname%>"><%=user.loginname%></a></li>
      </ul>
    </div>
  </div>
  <div class='panel'>
    <div class="header"><%= user.loginname %> Participando nos tópicos</div>
    <div class="inner padding">
    <% if(typeof(topics) !== 'undefined' && topics.length > 0){ %>
    <%- partial('../topic/list',
    {topics:topics,pages:pages,current_pages:current_page,base:'/user/'+user.loginname+'/replies'}) %>
    <% }else{ %>
    <div class='inner'>
      <p>Nenhum tópico</p>
    </div>
    <% } %>
  </div>
  </div>
</div>

