<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>Home</a><span class='divider'>/</span></li>
        <li class='active'>Top100 Score榜</li>
      </ul>
    </div>
    <div class='inner'>
      <% if(typeof(users) !== 'undefined' && users.length > 0){ %>
      <table class='table table-condensed table-striped'>
        <thead>
          <th>#</th>
          <th>Usuário</th>
          <th>Score</th>
          <th>Tópicos</th>
          <th>Avaliações</th>
        </thead>
        <tbody>
        <%- partial('../user/top100_user',{collection:users,as:'user'}) %>
        </tbody>
      </table>
      <% }else{ %>
      <p>Não há usuários</p>
      <% } %>
    </div>
  </div>
</div>
