<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>Home</a><span class='divider'>/</span></li>
        <li class='active'>Novidades</li><!-- 新消息 -->
      </ul>
    </div>
    <% if (typeof(hasnot_read_messages) !== 'undefined' && hasnot_read_messages.length > 0) { %>
    <%- partial('../message/message', { collection: hasnot_read_messages, as: 'message' }) %>
    <% } else { %>
    <div class='inner'>
      <p>Nenhuma menssagem</p><!-- 无消息 -->
    </div>
    <% } %>
  </div>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Ultimas informações</span><!-- 过往信息 -->
    </div>
    <% if (typeof(has_read_messages) !== 'undefined' && has_read_messages.length > 0) { %>
    <%- partial('../message/message', { collection: has_read_messages, as: 'message' }) %>
    <% } else { %>
    <div class='inner'>
      <p>Nenhuma menssagem</p><!-- 无消息 -->
    </div>
    <% } %>
  </div>
</div>
