<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>Home</a><span class='divider'>/</span></li>
        <li class='active'>API</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### API

#### get /topics Índice de Tópicos

Parâmetros de requisição GET

* page `Number` Define página
* tab `String` Aba `all` `good` `geral` `duvidas` `guildas` `pvp` `pve` `off-topic`
* limit `Number` Limite de itens
* mdrender `String` Quando é `false` retorna código fonte. Quando é `true` formata texto após formatação de markdown

Exemplo：[/api/v1/topics](/api/v1/topics)

#### get /topic/:id Detalhes do Tópico

Parâmetros de requisição GET

* mdrender `String` Quando é `false` retorna código fonte. Quando é `true` formata texto após formatação de markdown

Exemplo：[/api/v1/topic/5433d5e4e737cbe96dcef312](/api/v1/topic/5433d5e4e737cbe96dcef312)

#### post /topics Novo Tópico

Parâmetros de requisição POST

* accesstoken `String` accessToken do usuário
* title `String` Título
* tab `String` Aba `all` `good` `geral` `duvidas` `guildas` `pvp` `pve` `off-topic`
* content `String` Conteúdo principal

Exemplo de valores de retorno

```js
{success: true, topic_id: '5433d5e4e737cbe96dcef312'}
```

### Resposta de tópico

#### post /topic/:topic_id/replies Novas respostas

Parâmetros de requisição POST

* accesstoken `String` accessToken do usuário
* content `String` Conteúdo da resposta
* reply_id `String` Se este post é uma resposta a outro post, certifeque-se de preencher este campo para podermos inserir um link de referência ao outro post.

Exemplo de valores de retorno

```js
{success: true, reply_id: '5433d5e4e737cbe96dcef312'}
```

#### post /reply/:reply_id/ups Likes na resposta

Parâmetros recebidos do POST

* accesstoken `String`

接口会自动判断用户是否已点赞，如果否，则点赞；如果是，则取消点赞。点赞的动作反应在返回数据的 `action` 字段中，`up` or `down`。 (desculpe ainda não consegui traduzir isso, carece de contexto ~KlarkC)

Exemplo de valores de retorno

```js
{"success": true, "action": "down"}
```

### Usuário

#### get /user/:loginname Detalhes do usuário

Exemplo：[/api/v1/user/alsotang](/api/v1/user/alsotang)

#### post /accesstoken Verifica autenticidade do accessToken

Parâmetros de requisição POST

* accesstoken `String` accessToken do usuário

Retorna success ou erro 403

Exemplo de valores de retorno

```js
{success: true, loginname: req.user.loginname}
```

### Notificação de mensagens

#### get /message/count Recebe o número de mensagens não lidas

Parâmetros de requisição GET

* accesstoken `String`

Exemplo de valores de retorno

```js
{ data: 3 }
```


#### get /messages Recebe mensagens lidas e não lidas

Parâmetros de requisição GET

* accesstoken `String`
* mdrender `String` Quando é `false` retorna código fonte. Quando é `true` formata texto após formatação de markdown

Exemplo de valores de retorno

```js
{
  data: {
    has_read_messages: [],
    hasnot_read_messages: [
      {
        id: "543fb7abae523bbc80412b26",
        type: "at",
        has_read: false,
        author: {
          loginname: "alsotang",
          avatar_url: "https://avatars.githubusercontent.com/u/1147375?v=2"
        },
        topic: {
          id: "542d6ecb9ecb3db94b2b3d0f",
          title: "adfadfadfasdf",
          last_reply_at: "2014-10-18T07:47:22.563Z"
        },
        reply: {
          id: "543fb7abae523bbc80412b24",
          content: "[@alsotang](/user/alsotang) 哈哈",
          ups: [ ],
          create_at: "2014-10-16T12:18:51.566Z"
          }
        },
    ...
    ]
  }
}
```

#### post /message/mark_all Marca tudo lido

Parâmetros de requisição POST

* accesstoken `String`

Exemplo de valores de retorno

```js
{ success: true,
  marked_msgs: [ { id: '544ce385aeaeb5931556c6f9' } ] }
```

### Autorização de Acesso

1. Como obter accessToken？
    Depois do usuário logar, na página de Configuração você pode encontrar o accessToken.
    Recomenda-se que, num cliente mobile, permita-se scanear o QRCode para efetuar login automático via `/accesstoken`

*/
        })) %>
      </div>
    </div>
  </div>
</div>
