<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>Home</a><span class='divider'>/</span></li>
        <li class='active'>Ajuda</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*

## Central de Ajuda

Bem vindos a comunidade Guild Wars 2 Brasil, abaixo você encontra o índice de tópicos sobre as principais dúvidas sobre o uso do fórum.

 《**Onde devo postar?**》

 http://guildwars2brasil.com.br/topic/5696cea5c4d9daea5e5c2551

 《**Como troco meu avatar?**》

 http://guildwars2brasil.com.br/topic/569905d0bf7f2c78a02cc508

 《**Onde está o fórum antigo?**》

 http://arquivo.guildwars2brasil.com.br/

 《**Onde compro o jogo?**》

 http://guildwars2brasil.com.br/topic/56a0df602667fab670c033f9

 《**Como colaborar com a comunidade?**》

 http://guildwars2brasil.com.br/topic/5696cee2c4d9daea5e5c2552

 《**Não recebi email de ativação / Não consigo ativar minha conta**》

 1. Verifique se o email não está na Caixa de SPAM
 2. Envie email para admin@guildwars2brasil.com.br solicitando a liberação de sua conta e informando o seu nome de usuário ou email cadastrado.

 《**Não lembro minha senha**》

 http://guildwars2brasil.com.br/search_pass

 《**Não lembro do meu email e não consigo recuperar a senha**》

 Envie email para admin@guildwars2brasil.com.br e informando o seu nome de usuário.

*/
        })) %>
      </div>
    </div>
  </div>
</div>
